.korros-action-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  height: 28px;
  padding: 0 15px;
  border-radius: 15px;
  position: relative;
  gap: 3px;
  min-width: 24px;
  outline: 0;
  z-index: 1;
  font-size: 13px;
  color: var(--color);
  background: var(--background);
  user-select: none;
  -webkit-user-select: none;
  min-width: 70px;

  &[data-intent="filled"] {
    --background: var(--sky-600);
    --color: var(--stone-100);
  }

  &[data-intent="tinted"] {
    --background: var(--sky-200);
    --color: var(--sky-700);
  }

  &[data-intent="gray"] {
    --background: var(--stone-200);
    --color: var(--sky-600);
  }

  &[data-intent="plain"] {
    --background: white;
    --color: var(--sky-600);
  }

  &[data-intent="outlined"] {
    --background: white;
    --color: var(--sky-600);
    box-shadow: inset 0 0 0 1px var(--sky-600);
  }

  &[data-intent="danger"] {
    --background: var(--rose-600);
    --color: var(--stone-100);

    &:focus-visible {
      box-shadow: 0 0 0 2px white, 0 0 0 4px var(--rose-600) !important;
    }
  }

  &:hover {
    filter: brightness(0.9) contrast(1.2);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px white, 0 0 0 4px var(--sky-600) !important;
    outline: 0;
    z-index: 3;
  }

  &:not(:disabled):active {
    filter: brightness(0.85) contrast(1.3);
  }

  &:disabled {
    --background: var(--stone-100);
    --color: var(--stone-400);
    filter: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}

/* @mixin intent($background, $color) {
  background: $background;
  color: $color;

  &.hover {
    background: color.scale($background, $lightness: -9%);
  }

  &.press {
    background: color.scale($background, $lightness: -15%);
  }

  &.focus {
    box-shadow: 0 0 0 2px white, 0 0 0 4px colors.$sky-600;
  }
} */

/* .tinted {
  @include intent(colors.$sky-200, colors.$sky-700);
}

.gray {
  @include intent(colors.$stone-200, colors.$sky-600);
}

.plain {
  @include intent(color.adjust(colors.$sky-50, $lightness: +99%), colors.$sky-600);
}

.outlined {
  @include intent(color.adjust(colors.$sky-50, $lightness: +99%), colors.$sky-600);
  box-shadow: inset 0 0 0 1px colors.$sky-600;
}
*/

.loading {
  cursor: progress;
}

.loading-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
}

.hidden {
  visibility: hidden;
}
