.korros__action-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	height: 30px;
	padding: 0 15px;
	border-radius: 15px;
	position: relative;
	gap: 3px;
	outline: 0;
	z-index: 1;
	font-size: 13px;
	color: var(--color);
	background: var(--background);
	user-select: none;
	-webkit-user-select: none;
	min-width: 70px;
	transition: filter 150ms;

	&[data-intent="filled"] {
		--background: linear-gradient(350deg, var(--sky-700) 35%, var(--sky-600));
		--color: var(--sky-50);

		&:focus-visible {
			box-shadow: inset 0 0 0 1px white, 0 0 0 2px var(--sky-700) !important;
		}

		@media (prefers-color-scheme: dark) {
			--background: linear-gradient(350deg, var(--sky-900), var(--sky-700));

			&:focus-visible {
				box-shadow: inset 0 0 0 1px var(--stone-800), 0 0 0 2px var(--sky-500) !important;
			}
		}
	}

	&[data-intent="tinted"] {
		--background: linear-gradient(350deg, var(--sky-300), var(--sky-200));
		--color: var(--sky-800);

		@media (prefers-color-scheme: dark) {
			--background: linear-gradient(350deg, var(--sky-700), var(--sky-500));
			--color: var(--sky-50);
		}
	}

	&[data-intent="gray"] {
		--background: linear-gradient(350deg, var(--stone-200), var(--stone-100));
		--color: var(--sky-700);

		@media (prefers-color-scheme: dark) {
			--background: linear-gradient(350deg, var(--stone-800), var(--stone-700));
			--color: var(--sky-200);
			box-shadow: none;
		}
	}

	&[data-intent="plain"] {
		--background: transparent;
		--color: var(--sky-700);
		/* box-shadow: inset 0 0 0 1px white, inset 0 0 0 2px rgb(255 255 255 / 23%); */

		&:not([data-loading="true"]):not(:disabled):hover {
			--background: white;
		}

		@media (prefers-color-scheme: dark) {
			--background: transparent;
			--color: var(--sky-400);

			&:not([data-loading="true"]):not(:disabled):hover {
				--background: var(--stone-800);
			}
		}
	}

	&[data-intent="outlined"] {
		--background: transparent;
		--color: var(--sky-700);
		box-shadow: inset 0 0 0 1px var(--sky-600), inset 0 0 5px 1px var(--stone-50),
			inset 0 0 8px 1px var(--stone-100);

		&:not([data-loading="true"]):not(:disabled):hover {
			--background: white;
		}

		@media (prefers-color-scheme: dark) {
			--background: transparent;
			--color: var(--sky-400);
			box-shadow: inset 0 0 0 1px var(--sky-500);

			&:not([data-loading="true"]):not(:disabled):hover {
				--background: var(--stone-800);
			}
		}
	}

	&[data-intent="danger"] {
		--background: linear-gradient(350deg, var(--rose-700), var(--rose-600));
		--color: var(--stone-50);

		&:focus-visible {
			box-shadow: inset 0 0 0 1px white, 0 0 0 2px var(--rose-700) !important;
		}

		@media (prefers-color-scheme: dark) {
			--background: linear-gradient(350deg, var(--rose-900), var(--rose-700));

			&:focus-visible {
				box-shadow: inset 0 0 0 1px var(--stone-800), 0 0 0 2px var(--rose-700) !important;
			}
		}
	}

	&:focus-visible {
		box-shadow: 0 0 0 2px var(--sky-700) !important;
		outline: 0;
		z-index: 3;
	}

	@media (prefers-color-scheme: dark) {
		&:focus-visible {
			box-shadow: inset 0 0 0 1px var(--stone-800), 0 0 0 2px var(--sky-500) !important;
		}
	}

	&:not([data-loading="true"]):not(:disabled):hover {
		filter: brightness(0.88) contrast(1.2);

		@media (prefers-color-scheme: dark) {
			filter: brightness(1.13);
		}
	}

	&:not([data-loading="true"]):not(:disabled):active {
		filter: brightness(0.83) contrast(1.3);

		@media (prefers-color-scheme: dark) {
			filter: brightness(1.2);
		}
	}

	&[data-icon="single"] .korros__icon {
		position: relative;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: calc(100% + 6px);
			height: calc(100% + 6px);
			top: -3px;
			left: -3px;
			border-radius: 50%;
			z-index: -1;
			background: rgb(0 0 0 / 7%);
			box-shadow: 0 0 3px 1px rgb(255 255 255 / 17%), inset 0 0 1px 1px rgb(0 0 0 / 5%);
		}
	}

	&:disabled {
		--background: var(--stone-100);
		--color: var(--stone-500);
		filter: none;
		box-shadow: none;
		cursor: not-allowed;

		&[data-icon="single"] .korros__icon::before {
			background: none;
			box-shadow: none;
		}

		@media (prefers-color-scheme: dark) {
			--background: var(--stone-700);
			--color: var(--stone-300);
			filter: brightness(0.7);
		}
	}

	&[data-loading="true"]:not(:disabled) {
		cursor: progress;
	}

	&[data-loading="true"] > *:not(.korros__progress_circle) {
		visibility: hidden;
	}

	& .korros__progress_circle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		z-index: 2;
	}
}
