.korros__trigger-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	white-space: nowrap;
	padding: 2px 5px;
	border-radius: 3px;
	position: relative;
	gap: 0;
	outline: 0;
	z-index: 1;
	font-size: 11px;
	color: var(--color);
	background: var(--background);
	user-select: none;
	-webkit-user-select: none;
	transition: filter 150ms;

	&[data-size="large"] {
		width: auto;
		height: 38px;
		min-width: 40px;
	}

	&[data-size="default"] {
		width: 30px;
		height: 26px;
	}

	&[data-intent="tinted"] {
		--background: var(--sky-200) !important;
		--color: var(--sky-800);

		@media (prefers-color-scheme: dark) {
			--background: var(--sky-700) !important;
			--color: var(--sky-50);
		}
	}

	&[data-intent="plain"] {
		--background: transparent;
	}

	&[data-intent="outlined"] {
		--background: transparent;
		box-shadow: inset 0 0 0 1px var(--stone-400), inset 0 0 5px 1px var(--stone-50),
			inset 0 0 8px 1px var(--stone-100);

		@media (prefers-color-scheme: dark) {
			--color: var(--sky-400);
			box-shadow: inset 0 0 0 1px var(--sky-500);

			&:not(:disabled):hover {
				--background: var(--stone-800);
			}
		}
	}

	&[data-intent="danger"] {
		--color: var(--rose-600);

		&:focus-visible {
			box-shadow: 0 0 0 2px var(--rose-700) !important;
		}

		@media (prefers-color-scheme: dark) {
			--color: var(--rose-500);
		}
	}

	&:focus-visible {
		box-shadow: 0 0 0 2px var(--sky-700) !important;
		outline: 0;
		z-index: 3;
	}

	@media (prefers-color-scheme: dark) {
		&:focus-visible {
			box-shadow: inset 0 0 0 1px var(--stone-800), 0 0 0 2px var(--sky-500) !important;
		}
	}

	&:not(:disabled):hover {
		--background: white;
		filter: brightness(0.88) contrast(1.2);

		@media (prefers-color-scheme: dark) {
			--background: var(--stone-800);
			filter: brightness(1.13);
		}
	}

	&:not(:disabled):active {
		filter: brightness(0.83) contrast(1.3);

		@media (prefers-color-scheme: dark) {
			filter: brightness(1.2);
		}
	}

	&:disabled {
		--background: var(--stone-100) !important;
		--color: var(--stone-500);
		filter: none;
		box-shadow: none;
		cursor: not-allowed;

		@media (prefers-color-scheme: dark) {
			--background: var(--stone-700) !important;
			--color: var(--stone-300);
			filter: brightness(0.7);
		}
	}
}
